{% extends '/hospital/default.html.twig' %}
  {% block contenido %}
    <h1>Especialidades</h1>
      <ul class="list-group">
          {% for especialidad in especialidades %}
              <li class="list-group-item"><a href="{{ path('app_medicoEspecialidad', {'id': especialidad.id}) }}">{{ especialidad.nombre }}</a></li>
          {% endfor %}
      </ul>
  {% endblock %} 


        
			 
