{% extends '/hospital/default.html.twig' %}      
{% block contenido%}
  <div class="container">
    <h1 class="display-4">Encuestas</h1>
    <ul class="list-group">
      {% for item in encuestas %}
        <li class="list-group-item">
          <a class="btn btn-primary" href="{{ path("encuesta", { "id": item.id }) }}">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %} 
				

		
