{% extends '/hospital/default.html.twig' %}


{% block contenido %}
<div class="container">
    <h1 class="text-center">Hospital Jose planes</h1>
    <p>En el Hospital José Planes, nuestra misión es brindar atención médica de alta calidad con compasión y profesionalismo. Con una trayectoria de excelencia en el cuidado de la salud, nos comprometemos a servir a nuestra comunidad con los más altos estándares de atención médica.</p>
        <p>Nuestro equipo de médicos, enfermeras y personal de apoyo está dedicado a proporcionar un ambiente seguro y acogedor para todos nuestros pacientes. Ya sea que necesite atención de emergencia, cirugía programada o atención médica especializada, estamos aquí para ayudarlo en cada paso del camino.</p>
        <p>En el Hospital José Planes, nos esforzamos por ser líderes en innovación médica y tecnológica, garantizando así que nuestros pacientes reciban los tratamientos más avanzados y efectivos disponibles.</p>
        <p>Gracias por elegirnos como su proveedor de atención médica. Estamos aquí para usted, su salud es nuestra prioridad número uno.</p>
</div>
{% endblock %}
