{% extends 'hospital/default.html.twig' %}

{% block title %}Hello ServiciosControlerController!{% endblock %}

{% block contenido %}
<h1>Servicios Disponibles</h1>

        <ul>
            {% for servicio in servicios %}
                <li>
                    {{ servicio.nombre }}
                    <a href="{{ path('app_servicios_informacion', {'id': servicio.id}) }}">Ver</a>
                  
                </li>
            {% endfor %}
        </ul>
{% endblock %}
